::: aioitd.api.verification
    options:
      show_root_toc_entry: false